@import url('https://fonts.googleapis.com/css?family=Quicksand');

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-navitem-position {
    margin-left: 831px;
}

.banner-text {
    font-weight: 500;
    letter-spacing: -1.1px;
    font-style: initial;
    color: gainsboro;
    text-shadow: 1px 1px black;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #333;
}

#container{
    width:100%;
}

.container {
    margin-left: 60px;
    padding-bottom: 75px;
    position: relative;
    text-align: center;
    color: white;
}

.image {
  opacity: 1;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 50%;

}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.col:hover .image {
  opacity: 0.3;
}

.col:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
}
